body{
   background-image: url(https://img.freepik.com/fotos-premium/fundo-de-graos-de-cafe-graos-de-cafe-torrados-caindo-ou-voando-em-fundo-preto-ai-gerado_891301-10482.jpg);
   background-size: cover;
}

header{
    border: solid 1px black;
        border-radius: 20px;
        padding: 10px;
        min-width: 300px;
        max-width: 900px;
        margin: auto;
        box-shadow: 5px 2px 9px 0px rgba(255, 255, 255, 0.56);
    }

header{
    background-position: right bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://img.freepik.com/fotos-premium/fundo-de-cafe-minimalista_118124-38074.jpg);
    margin-bottom: 10px;
}

p{
    text-shadow: 1px 1px 1px black;
    color: white;
}

h1{
    text-shadow: 1px 1px 1px white;
    color: black;
    text-align: center
}



footer> img{
    width: 50px;
    
}

main{
    margin: auto;
    width: 400px;
    height: 800px;

}


main > img{
     
    margin: 5px;
    border-radius: 20px;
    box-shadow: 5px 2px 9px 0px rgba(255, 255, 255, 0.081); 
}

footer{
    margin-top: 100px;
}


