body{
    background-image: url(imagens/married.jpeg);
}

header > h1{
    text-align: center;
}
header > p{
    text-align: center;
}

main{
  
    margin: auto;
    height: 800px;
    width: 400px;
}

img{
    
    box-shadow: 5px 5px 5px black ;
    margin: 10px;
    border-radius: 20px;
}