
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Jaro:opsz@6..72&family=Jersey+25+Charted&display=swap' );


body{
    background-color: rgb(2, 6, 24);
    margin-left: 25px;
}

header{
    max-width: 1200px;
    min-width: 400px;
    background-color: #041821;
    margin: auto;
    height: 100px;
    border-radius: 0px 0px 20px 20px;
    text-align: center;
    border: solid 1px black;
    margin-bottom: 20px;
    box-shadow: 2px 2px 10px 0px rgba(175, 170, 170, 0.553);
    
    
}
header > img{
    margin: auto;
    padding: 5px;
    height: 3cm;
    width: 3cm;
    margin-top: -330px;
    margin-bottom: 20px;
}


header > h1{
    font-family: "Dancing Script";
    color: white;
    text-align: left;
   margin-top: 60px;
   margin-left: 20px;
   font-size: 25px;
    
}


img.capa{
    margin-top: 15PX;
    margin-left: 50PX;
    box-shadow: rgba(1, 40, 98, 0.518) 3px 5px 5px ;
    border-radius: 25px;
    width: 300px;
    height: 500px;
}






