body{
    background-image: url(imagens/imgkids.jpeg);
}

header > h1{
    text-align: center;
    color: #FF4E44;
    text-decoration: underline;
}


main{
    width: 400px;
    height: 1300px;
    margin: auto;
}

main > img{
    box-shadow: 2px 2px 2px 2px rgba(168, 102, 114, 0.432);
    margin: 10px;
    border-radius: 15px;
}

header > p{
    min-width: 400px;
    max-width: 800px;
     text-align: justify;
     margin: auto;
 }
