body{
    background-image: url(imagens/imgkids.jpeg);
    background-size: cover;
}

header{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.634);
    background-image: url(imagens/backgroundkidns.jpg);
    border: solid 1px black;
        background-color: black;
        border-radius: 20px;
        padding: 10px;
        min-width: 300px;
        max-width: 900px;
        margin: auto;
}

p{
    color: black;
}

h1{
    text-decoration: underline;
    color: black;
    text-align: center
}




main{
    width: 400px;
    height: 1300px;
    margin: auto;
}

main > img{
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.553);
    margin: 10px;
    border-radius: 15px;
}

footer > img{

    height: 10px;
    width: 10px;
}


