body{
    background-color: #2F3334;
}

header > h1{
    text-align: center;
    color: white;
}

main{
    width: 400px;
    height: 800px;
    margin: auto;
}

main > img{
    margin: 5px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px white
}