    body{
        background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/OlindaGraffiti.jpg/800px-OlindaGraffiti.jpg);
        background-size: cover;
     background-repeat: no-repeat;
    }

header{
    background-image: url(https://img.freepik.com/fotos-premium/lata-de-spray-e-tinta-pronta-para-a-proxima-peca-de-arte-de-graffiti-criada-com-ia-generativa_124507-182270.jpg);
    background-position: top left;
    border: solid 1px black;
        background-color: black;
        border-radius: 20px;
        padding: 10px;
        min-width: 300px;
        max-width: 900px;
        margin: auto;
      
}

header > h1{
    text-align: center;
    color: white;
}

main{
    width: 400px;
    height: 1200px;
    margin: auto;
}

main > img{
    margin: 5px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px white
}