body{
    background-image: url(imagens/summer.jpeg);
    background-size: cover;
    }

    header{
        background-image: url(https://img.freepik.com/fotos-premium/ilustracao-de-fundo-de-verao_863013-60036.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top left;
        border: solid 1px black;
        background-color: black;
        border-radius: 20px;
        padding: 10px;
        min-width: 300px;
        max-width: 900px;
        margin: auto;
    }
    
    header > h1 {
        color: #0e2a66;
        text-align: center;
    }
    
    header > p{
    text-align: center;
    min-width: 400px;
    max-width: 800px;
     text-align: justify;
     margin: auto;
    }

    main{
        height: 900px;
        width: 500px;
        margin: auto;
    }

    main > img{
        border-radius: 15px;
        box-shadow: 2px 2px 2px rgba(0, 0, 139, 0.46);
        margin: 10px;
    }