body{
    background-color: #3D5D52;
}

header > h1{
    text-align: center;
    color: white;
}

main{
    width: 400px;
    height: 800px;
    margin: auto;
}

main>img{
    margin: 5px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgb(0, 0, 0)
}

footer{
    margin-top: 300px;
}